body {
    background-color: #24353F;
    display: flex;
    justify-content: center;

    height: 100vh;
}

.container1 {
    background-color: #24353F;
    width: 60%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    margin: 60px;

}

h1 {
    text-align: center;
    color: #17A2B8;
    margin-bottom: 50px;
}

.input {
    width: 70%;
    background-color: #24353F;
    /* margin-bottom: 20px;
   
    padding-left: 30px;
    margin: 20px auto; */
}

/* .bttn {
    width: 70%;
    /* margin: auto 120px; */
margin: auto 15%;
}

*/